:root {
  --secondary-color: grey;
  --bg-color: white;

  background-color: var(--bg-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--secondary-color);
}

main {
  padding: 2rem;
}

.files {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 2rem;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file > a {
  display: contents;
  color: var(--secondary-color);
}

.file__icon_container {
  width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
}

.file__name {
  font-size: 1rem;
  text-align: center;
  text-wrap: nowrap;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
